@{
    ViewBag.Title = "About Smart Chair";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<p>
    Smart Chair is an exciting new project that utilizes sensor fusion and embedded technology in order to provide 
    you important health data! By embedding a Smart Chair microcontroller to a chair, you can use the
    chair for measuring your own health. Simply sit in the chair as you would normally, and the chair will be able to 
    use numerous sensors to measure heartrate, posture, sitting time, and restlessness. The chair will then send this
    data to this website. You can create an account in order to pair your chair and see your data. Best of all, you can
    use our technology for any chair in the whole world, which is why our slogan is "Any Chair, Anywhere!"
</p>

<p>
    <b>Our team:</b><br />
    Project Development Lead: Alex Dillon<br />
    Testing Lead: Chris Taylor<br />
    Web Development Lead: Joey Biagini<br />
    Embedded Development Lead: Joseph Kerns<br />
    Sensor Integration Lead: Logan Johnson
</p>
