@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        @if (User.Identity.IsAuthenticated)
        {
        <h1>Welcome back to Smart Chair!</h1> 
        }
        else
        {
            <h1>Welcome to Smart Chair!</h1>
        }
        <img src="/Images/samplesmartpic.png" alt="Chair" />
        @if (!User.Identity.IsAuthenticated)
        {
            <p class="lead">New to Smart Chair? Create a new account.</p>
            <!--<p><a href="https://uahsmartchair.com/Account/Login" class="btn btn-primary btn-lg">Log in &raquo;</a></p>-->
            <p>
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        }
    </center>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
